@import url("./reset.css");

:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-red-hover: #ff2846;
    --app-pink: #f09;
    --app-grey: #BEBEBE;
    --app-white: #f1f1f1;
} 
 
/* -----------------------------------*/
/* Container                          */
/* -----------------------------------*/

.container {
    width: min(100% - 20px, 1080px);
    margin-inline: auto;
    resize: both;
    text-align: center;
}

/* -----------------------------------*/
/* Background                         */
/* -----------------------------------*/

body {
    background: #2799c7 url("../image/cotton-candy.jpg") 
    center center / cover no-repeat;
    height: 100vh; 
    overflow: hidden;
    padding: 0;
}

/* -----------------------------------*/
/* Main                               */
/* -----------------------------------*/

h1 {
    margin-top: 50px;
    font-size: 70px;
    font-weight: 600;
    color: #757575;
    font-family: 'Audiowide', Inter, Lato, cursive;
    text-shadow:
        0 0 7px #eee9a0,
        0 0 10px #eee9a0,
        0 0 21px #eee9a0,
        0 0 42px #f09,
        0 0 82px #f09,
        0 0 92px #f09,
        0 0 102px #f09,
        0 0 151px #f09;
}

.descrip {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 500;
    color: #000;
    
}

.text {
    margin: 20px 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    border-bottom: solid 2px rgb(0 0 0 / 0.5);
}

/* -----------------------------------*/
/* Output                             */
/* -----------------------------------*/

.timer, .display {
    margin: 40px 0;
    min-width: 100%;
    min-height: 50px;
}

.display {
    font-size: 40px;
}

.time, .score, .timer, .output, .message {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}

.hide {
    display: none;
}

.message {
    margin-top: 20px;
}

/* -----------------------------------*/
/* Input                              */
/* -----------------------------------*/

input[type=text] {
    display: inline-block;
    background-color: rgb(0 0 0 / 0.5);
    border: solid 1px rgb(255 255 255 / 0.1);
    color: #fff;
    padding: 5px 10px;
    margin-left: 12px;
    text-align: left;
    width: 200px;
    height: 55px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    transition: opacity 0.3s, transform 0.2s ease-in-out; 
    -webkit-transition: opacity 0.3s, transform 0.2s ease-in-out;
}

input[type=text]::placeholder {
    color: #fff;
}

button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 120px;
    height: 55px;
    background-color: var(--app-pink);
    border: 1px solid rgba(255, 255, 255, 0.171);
    border-radius: 6px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.4px;
    cursor: pointer;
}

button:hover {
    color: #5c5c5c;
}

/* -----------------------------------*/
/* Scores                             */
/* -----------------------------------*/

.highScores {
    padding-top: 1px;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color:rgba(0, 0, 0, 0.3);
    border-left: solid 1px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding-left: 10px;
    vertical-align: top;
}

ol {
    text-align: left;
    list-style: none;
}

li {
    display: grid;
    padding-left: 30px;
    padding-top: 5px;
    text-align: left;
    font-size: 20px;
    color: #000;
}

h5 {
    padding-top: 30px;
    font-size: 24px;
    text-align: center;
}

img {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    right: 85px;
    bottom: 25px;
    cursor: pointer;
}
/* -----------------------------------*/
/* Animation                          */
/* -----------------------------------*/

.display {
    opacity:0;
    animation: drop 1s linear forwards;
}

@keyframes drop {
    0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
    5% {opacity: .7;}
    50% {transform: translateY(0px) scaleY(1); opacity: 1;}
    65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
    75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
    100% {transform: translateY(0px) scaleY(1); opacity: 1;}
}

@media (max-width: 768px) {
    h1 { font-size: 40px; }
    .container { 
        height: 80%;
     }
    body {padding-top: 1px;}
    header {width: 60%;}
     .highScores {
        width: 200px;
        z-index: 1;
     }
    img {
        width: 75px;
        height: 75px;
        right: 55px;
    }
}