@import url("./reset.css");

:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-red-hover: #ff2846;
    --app-grey: #BEBEBE;
    --app-white: #f1f1f1;
} 
 
/* -----------------------------------*/
/* Container                          */
/* -----------------------------------*/

.container {
    width: min(100% - 20px, 1080px);
    margin-inline: auto;
    resize: both;
    text-align: center;
}

/* -----------------------------------*/
/* Background                         */
/* -----------------------------------*/

body {
    background: #fff url("../image/cotton-candy.jpg") 
    center center / cover no-repeat;
    height: 100vh; 
    overflow: hidden;
}

/* -----------------------------------*/
/* Main                               */
/* -----------------------------------*/

